<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles-Form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c689bf8ba.js" crossorigin="anonymous"></script>
    <title>Formulario productos</title>
    <style>
        .text-danger {
            color: rgb(215, 53, 53) !important;
            background-color: rgba(71, 71, 71, 0.628);
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3pxa;
            font-weight: bold;
            text-align: center;
            
        }
    </style>
</head>

<body>
    <header id="header">
        <%- include('partials/header')%>
    </header>

    <main>
        <h1>Carga de Producto</h1>
        <form action="/products" method="POST" enctype="multipart/form-data" id="formulario">

            <div class="name">
                <label for="_name">Nombre del producto:</label>
            </div>
            <input type="text" name="name" id="nombreProducto" placeholder="">
            <% if (locals.errors && errors.name){ %>
                <div>
                    
                    <span class="text-danger">
                     <%= errors.name.msg %>
                    </span>

                </div>
                <% } %>

                    <br>
                    <div class="type">
                        <label for="_type">Tipo de cerveza:</label>
                    </div>
                    <select name="type_id" id="">
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% types.forEach(types=> { %>
                            <option value="<%= types.id %>">
                                <%= types.type %>
                            </option>
                            <% }); %>
                            
                    </select>
                    <br>
                    <br>

                    <div class="producto-img">
                        <label for="img">Imagen del producto:</label>
                    </div>
                    <input type="file" name="img">
                    <br>

                    <div class="stock">
                        <label for="_stock">Stock:</label>
                    </div>
                    
                    <input type="text" name="stock">
                    <% if (locals.errors && errors.stock){ %>
                        <div>
                            <span class="text-danger">
                                <%= errors.stock.msg %>
                            </span>

                        </div>
                        <% } %>
                            <br>
                            <div class="price">
                                <label for="_price">Precio:</label>
                            </div>
                            <input type="text" name="price" id="nombreProducto" placeholder="">
                            <% if (locals.errors && errors.price){ %>
                                <div>
                                    <span class="text-danger">
                                        <%= errors.price.msg %>
                                    </span>

                                </div>
                                <% } %>
                                    <br>
                                    <div class="alcohol">
                                        <label for="_alcohol">Graduación alcohólica:</label>
                                    </div>
                                    <input type="text" name="alcohol" id="nombreProducto" placeholder="">
                                    <% if (locals.errors && errors.alcohol){ %>
                                        <div>
                                            <span class="text-danger">
                                                <%= errors.alcohol.msg %>
                                            </span>

                                        </div>
                                        <% } %>
                                            <br>
                                            <div class="bitterness">
                                                <label for="_bitterness">Amargor:</label>
                                            </div>
                                            <input type="text" name="bitterness" id="nombreProducto" placeholder="">
                                            <% if (locals.errors && errors.bitterness){ %>
                                                <div>
                                                    <span class="text-danger">
                                                        <%= errors.bitterness.msg %>
                                                    </span>

                                                </div>
                                                <% } %>
                                                    <br>
                                                    <div class="idealTemperature">
                                                        <label for="_idealTemperature">Temperatura ideal:</label>
                                                    </div>
                                                    <input type="text" name="idealTemperature" id="nombreProducto"
                                                        placeholder="">
                                                    <% if (locals.errors && errors.idealTemperature){ %>
                                                        <div>
                                                            <span class="text-danger">
                                                                <%= errors.idealTemperature.msg %>
                                                            </span>

                                                        </div>
                                                        <% } %>
                                                        <br>
                                                            <div class="categories">
                                                                <label for="categoria">Categorías:</label>
                                                                <br>
                                                                <select name="category_id" id="">
                                                                    <option value="" disabled selected>- Seleccione la

                                                                        categoría - </option>
                                                                    <% categories.forEach(categories=> { %>
                                                                        <option value="<%= categories.id %>">
                                                                            <%= categories.category%>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>

                                                            </div>
                                                            <br>
                                                            <div class="description">
                                                                <label for="_description">Descripción:</label>

                                                            </div>
                                                            <br>
                                                            <textarea name="description" rows="10"
                                                                cols="40">Escribe la descripción...</textarea>
                                                            <br>

                                                            <br>
                                                            <div class="boton-guardar">
                                                                <input type="submit" value="Enviar">
                                                            </div>
                                                            </div>


                                                            </article>
                                                            <script>
                                                                const formulario = document.getElementById('formulario');
                                                                formulario.addEventListener('submit', (e) => {
                                                                    if (formulario.nombreUsuario.value.length > 2) {
                                                                        alert('No se ha ingresado un nombre valido');
                                                                        e.preventDefault();
                                                                    } else {
                                                                        alert('El producto se agrego correctamente');
                                                                    }
                                                                });
                                                            </script>
        </form>


    </main>
</body>

</html>