<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="../css/styles-Form.css">

</head>

<body>
    <header id="header">
        <%- include('partials/header')%>
    </header>

    <main>
        <h1>Carga de Producto</h1>
        <form 
        action="/products/:id" 
        method="POST" 
        enctype="multipart/form-data" 
        id="formulario">
            <div class="id">
                <label for="_id">ID del producto:</label>
            </div>
            <input type="text" name="id" id="nombreProducto" value="<%= producto.id %>" required>
            <br>
            <div class="name">
                <label for="_name">Nombre del producto:</label>
            </div>
            <input type="text" name="name" id="nombreProducto" value="<%= producto.name %>" required>
            <br>
            <div class="type">
                <label for="_type">Tipo de cerveza:</label>
            </div>
            <input type="text" name="type" id="nombreProducto" value="<%= producto.type %>" required>
            <br>
            <div class="producto-img">
                <label for="img">Imagen del producto:</label>
            </div>
            <input type="file" name="img" required>
            <br>
            <div class="stock">
                <label for="_stock">Stock:</label>
            </div>
            <input type="text" name="stock" id="nombreProducto" value="<%= producto.stock %>" required>
            <br>
            <div class="price">
                <label for="_price">Precio:</label>
            </div>
            <input type="text" name="price" id="nombreProducto"value="<%= producto.price %>" required>
            <br>
            <div class="alcohol">
                <label for="_alcohol">Graduación alcohólica:</label>
            </div>
            <input type="text" name="alcohol" id="nombreProducto" value="<%= producto.alcohol %>" required>
            <br>
            <div class="bitterness">
                <label for="_bitterness">Amargor:</label>
            </div>
            <input type="text" name="bitterness" id="nombreProducto" value="<%= producto.bitterness %>" required>
            <br>
            <div class="idealTemperature">
                <label for="_idealTemperature">Temperatura ideal:</label>
            </div>
            <input type="text" name="idealTemperature" id="nombreProducto" value="<%= producto.idealTemperature %>" required>
            <div class="categories">
                <label for="categoria">Categorías:</label>
                <br>
                <input type="text" name="categoria" id="nombreProducto" value="<%= producto.categoria %>" required>
            </div>
            <br>
            <div class="description">
                <label for="_description">Descripción:</label>
            </div>
            <br>
            <textarea name="comentarios" rows="10" cols="40" value="<%= producto.description %>">Escribe la descripción...</textarea>
            <br>
            
                <br>
                <div class="boton-guardar">
                    <input type="submit" value="Enviar">
                </div>
            </div>


            </article>
            <script>
                const formulario = document.getElementById('formulario');
                formulario.addEventListener('submit', (e) => {
                    if (formulario.nombreUsuario.value.length > 2) {
                        alert('No se ha ingresado un nombre valido');
                        e.preventDefault();
                    } else {
                        alert('El producto se agrego correctamente');
                    }
                });
            </script>

        </form>


    </main>
</body>

</html>