<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-fran.css">
    <link rel="stylesheet" href="css/login.css">

    <title>Bier Fass</title>
    <script src="https://kit.fontawesome.com/704063b457.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        .text-danger{
            color: rgb(201, 31, 31)!important;
            background-color: rgba(26, 23, 23, 0.85);
            border-radius: 20px;
            padding-left: 10px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header>
        <h1>¡BIENVENIDO!</h1>
        <h3>Introducir email y contraseña para ingresar</h3>
    </header>
    <main>
        <section>
            <form class="redes">
            <button class="btn btnFacebook">
                Ingresar con Facebook
                <i class='fa fa-facebook'></i>
            </button>
            </a>
            </form>

            <form class="redes">
            <button class="btn btnGoogle">
                Ingresar con Google
                <i class='fa fa-google'></i>
            </button>
            </a>
            <div class="errores">
                <ul> 
                </ul>
                </div>
            </form>

        <form action="/login"  method="POST" class="formulario" >
            <div class="form-campos">
                <input type="text" name="email" id="email" placeholder="Email" <%=locals.errors && errors.email
                    ? 'is-invalid' : null %> value="<%= locals.oldData ? oldData.email : null %>">
                <% if(locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
            </div>

            <div class="form-campos">
                <input type="password" name="password" id="password" placeholder="Contraseña" <%=locals.errors &&
                    errors.password ? 'is-invalid' : null %>>
                <% if(locals.errors && errors.password) { %>
                    <div class="text-danger">
                     <%= errors.password.msg %>
                       
                    </div>
                    <% } %>
            </div>
            <div class="form-group ">
                <input type="checkbox" name="remember_user"><label class="checkbox-inline">Recordarme</label>
              </div>
            
            <input type="submit" value="Ingresar">
        </form>
    
    <div class="forgotPassword">
        <a href="#">
            ¿Olvidó su clave?
        </a>
        <div>
            Todavía no estás registrado. <a href="/register">Registrarse</a>
        </div>
    </div>
    </section>

    </main>
    <script src="/js/login.js"></script>
    <footer>

    </footer>
</body>

</html>