<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/styles-lucas.css">
    <link rel="stylesheet" href="../css/profile.css">
    <%- include('partials/head') %>
    <style>
        footer {
                width: 100x;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
    </style>
</head>

<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main id="main-profile">
        <div class="box-profile">
            <div class="container-img">
                <img src="/img/users/<%= user.imagen%>" alt="">
                <h1 class="welcome">Bienvenido <%= user.name%> <%= user.lastname%></h1>
            </div>
            <div class="container-button">


            </div>
            <h2>Ya puedes ingresar a nuestra pagina web!🍻🍺</h2>
            <br>
            <h3>Mis Datos</h3>
            <br>
            <br>
            
            <div class="form-profile">
            <form action="/profile/<%user.id ?? ''%>?_method=PUT" method="post" id="actualizacionDeDatos">
                <label>Nombre:</label>
                <input type="text" name="name" value="<%= user.name%>">
                <br>
                <label>Apellido:</label>
                <input type="text" name="lastname" value="<%= user.lastname%>">
                <br>
                <label>Email:</label>
                <input type="text" name="email" value="<%= user.email%>">
                <br>
                <label>Password: </label>
                <input type="password" name="password" value="12345678">
            
                <div class = "boton-logout">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Editar
                        usuario</button></div>
            </form>
        </div>
        </div>
       
        </div>
        <form id="formulario" action="/profile/<%=user.id%>?_method=DELETE" method="POST"
            class="creacion-formulario">
                <div class="botones">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Borrar
                        usuario</button>
                </div>
        </form> 
      
    </main>
    <footer>
        <%- include('partials/footer')%>
    </footer>
</body>

</html>
